<div class="demo-app">
  <div class="demo-app-sidebar">
    <div class="demo-app-sidebar-section">
      <h2>Instructions</h2>
      <ul>
        <li>Select dates and you will be prompted to create a new event</li>
        <li>Drag, drop, and resize events</li>
        <li>Click an event to delete it</li>
      </ul>
    </div>
    <div class="demo-app-sidebar-section">
      <label>
        <input
          type="checkbox"
          [checked]="calendarVisible()"
          (change)="handleCalendarToggle()"
        />
        toggle whole calendar
      </label>
    </div>
    <div class="demo-app-sidebar-section">
      <label>
        <input
          type="checkbox"
          [checked]="calendarOptions().weekends"
          (change)="handleWeekendsToggle()"
        />
        toggle weekends
      </label>
    </div>
    <div class="demo-app-sidebar-section">
      <h2>All Events ({{ currentEvents().length }})</h2>
      <ul>
        <li *ngFor="let event of currentEvents()">
          <b>{{ event.startStr }}</b>
          <i>{{ event.title }}</i>
        </li>
      </ul>
    </div>
  </div>

  <div class="demo-app-main">
    <full-calendar
      #fullCalendar
      *ngIf="calendarVisible()"
      [options]="calendarOptions()"
    >
      <ng-template #eventContent let-arg>
        <div
          (click)="logArg(arg)"
          [ngClass]="{
            'bg-blue-500': arg.event._def.extendedProps.itemType === 'Event',
            'bg-green-500': arg.event._def.extendedProps.itemType === 'Task',
          }"
          class="relative flex items-center"
        >
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
          <div class="relative">
            <div
              #eventDropdownMenu
              *ngIf="eventDropdownVisible && selectedEvent?.id === arg.event.id"
              class="absolute left-0 mt-4 w-48 bg-white border rounded shadow-lg"
            >
              <div class="py-1">
                <a
                  class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
                  (click)="handleUpdateClick(arg.event)"
                  >Update</a
                >
                <a
                  class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
                  (click)="handleDeleteClick(arg.event)"
                  >Delete</a
                >
              </div>
            </div>
            <div
              #taskDropdownMenu
              *ngIf="taskDropdownVisible && selectedEvent?.id === arg.event.id"
              class="absolute left-0 mt-4 w-48 bg-white border rounded shadow-lg"
            >
              <div class="py-1">
                <a
                  class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
                  (click)="handleUpdateTaskClick(arg.event)"
                  >Update Task</a
                >
                <a
                  class="block px-4 py-2 text-gray-800 hover:bg-gray-100"
                  (click)="handleDeleteTaskClick(arg.event)"
                  >Delete Task</a
                >
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </full-calendar>
  </div>
</div>

<app-modal
  #myModal
  [title]="modalTitle"
  [content]="modalContent"
  [confirmButtonText]="confirmButtonText"
  [cancelButtonText]="cancelButtonText"
  [showForm]="showForm"
  [itemType]="itemType"
  [confirmButtonClass]="confirmButtonClass"
  (confirm)="onConfirmModal()"
>
</app-modal>
